<div class="container-all">
    <ng-container *ngIf="this.showQuestion==false && this.isComplete==false">
        <aside>
            <h2>PESCANDO IDEAS</h2>
            <h3 *ngIf="isActive == true">Seleccione un item</h3>
            <h3>Puntuación: {{this._questionHandlerService.getScore()}}</h3>
            <button *ngIf="isActive == false" type="button" (click)="Activation()">EMPEZAR</button>
            <div class="container-image" [ngClass]="{'rotation-image' : isActive == true}">
                <img src="assets/images/triangle-strange.png" alt="">
            </div>
            <div class="bk-images">
                <div class="division-bk">
                    <img class="cofre" src="assets/images/tesoro.png" alt="">
                    <img class="bubble bubble-1" src="assets/images/bubble-gif1.gif" alt="">
                    <img class="bubble bubble-2" src="assets/images/bubble-gif1.gif" alt="">
                    <img class="bubble bubble-3" src="assets/images/bubble-gif1.gif" alt="">
                    <img class="plant plant-1" src="assets/images/cfb0cef3-f97b-477a-8ec7-d02f3ae81962.png" alt="">
                    <img class="plant plant-2" src="assets/images/cfb0cef3-f97b-477a-8ec7-d02f3ae81962.png" alt="">
                    <img class="fish fish-1" src="assets/images/fish-cartoon.png" alt="">
                    <img class="fish fish-2" src="assets/images/fish-cartoon.png" alt="">
                    <img class="fish fish-3" src="assets/images/fish-cartoon.png" alt="">
                    <img src="assets/images/chiguiro.svg" alt="" class="chiro">
                </div>
            </div>
        </aside>
        <!-- {{this._questionHandlerService.getCurrentQuestionIndex()}} -->
        <main *ngIf="isActive==true && this.showQuestion==false">
            <ng-container *ngFor="let item of this.getQuestionsName(); let i = index">
            <button [ngClass]="{'isCompleted' : this.isTouched(i)==true}"  type="button" (click)="this._questionHandlerService.changesCurentQuestion(i)" (click)="this.changesShowQuestion(true)">{{item}}</button>
            </ng-container>
        </main>
    </ng-container>
    <ng-container *ngIf="this.showQuestion==true && this.isActive && this.isComplete==false">
        <div class="container-all-2">
            <div class="container-images">
                    <div class="rock rock-1">
                        <img src="assets/images/bedrock-1.png" alt="">
                    </div>
                    <div class="rock rock-2">
                        <img src="assets/images/bedrock-2.png" alt="">
                    </div>
                    <div class="rock rock-3">
                        <img src="assets/images/bedrock-3.png" alt="">
                    </div>
                    <div class="rock rock-4">
                        <img src="assets/images/bedrock-4.png" alt="">
                    </div>
                    <div class="submarine">
                        <img src="assets/images/submarine.png" alt="">
                    </div>
            </div>
            <form>
                <h2>{{this.getQuestionsName()[this._questionHandlerService.getCurrentQuestionIndex()]}}</h2>
                <legend>
                    {{this._questionHandlerService.getCurrentQuestion().getQuestion()}}
                </legend>
                <ul>
                    <li *ngFor="let item of this._questionHandlerService.getCurrentQuestion().getResponses(); let i = index">
                        <button [ngClass]="{'isSelected' : i==this._questionHandlerService.getCurrentResponseIndex(),
                        'isCorrect' : i==this._questionHandlerService.getCurrentQuestion().getAnswerIndex() && this._questionHandlerService.getStatus(),
                        'isIncorrect' : this._questionHandlerService.getStatus() && i==this._questionHandlerService.getCurrentResponseIndex()}"
                        type="button" (click)="this._questionHandlerService.changeCurrentResponseIndex(i)">{{item}}</button>
                </ul>
                <input [ngClass]="{'isInactive' : this._questionHandlerService.getCurrentResponseIndex()==null}"  class="submit-button" type="submit" value="SIGUIENTE" (click)="this.onSubmit($event)" (click)="this.touchButton(this._questionHandlerService.getCurrentQuestionIndex())">
                <img class="bk-image" src="assets/images/background-bottom.png" alt="">
            </form>
        </div>
    </ng-container>
    <!-- <div class="winsContainer" *ngIf="this.isComplete">
        <div class="bk-bottom-image">
            <img src="../../assets/images/background-bottom.png" alt="">
        </div>
        <div class="triangle-2">
            <img src="../../assets/images/triangle-strange.png" alt="">
        </div>
        <div class="chest"> 
            <img src="../../assets/images/cofre-calamar.png" alt="">
        </div>
        <h3>QUIZZ COMPLETADO!</h3>
        <button class="submit-button" routerLink="" >VOLVER</button>
    </div> -->
</div>
<!-- <app-chiro-interlude [title]="'TALLER #1 COMPLETADO'" [textTargets]="this.texts">
</app-chiro-interlude> -->