<div class="bk-properties" >
    <div class="logo-container" *ngIf="isInit==false">
        <div class="logo-image">
            <img src="assets/images/millonario.svg" alt="">
        </div>
        <h2>RASTRO DEL MILLON</h2>
        <button type="button" (click)="Init()">EMPEZAR</button>
    </div>
    <main *ngIf="isInit==true">
        <div class="header-main">
            <h3>Puntaje: {{this._questionHandlerService.getScore()}}</h3>
        </div>
        <aside>
            <div [ngClass]="{'isCompleted' : this._questionHandlerService.getScore()>=(this._questionHandlerService.getLenghtQuestions()-i)*100}" class="score-item" *ngFor="let item of [].constructor(this._questionHandlerService.getLenghtQuestions()); let i = index">
                <p>{{(this._questionHandlerService.getLenghtQuestions()-i)*100}}</p>
            </div>
        </aside>
        <form>
            <h3>Pregunta {{this._questionHandlerService.getCurrentQuestionIndex()+1}}/{{this._questionHandlerService.getLenghtQuestions()}}</h3>
            <p>{{this._questionHandlerService.getCurrentQuestion().getQuestion()}}</p>
            <fieldset>
                <ng-container *ngFor="let item of this._questionHandlerService.getCurrentQuestion().getResponses(); let i = index">
                    <input [ngClass]="{'isSelected': i==this._questionHandlerService.getCurrentResponseIndex(),
                    'isCorrect' : i==this._questionHandlerService.getCurrentQuestion().getAnswerIndex() && this._questionHandlerService.getStatus(),
                    'isIncorrect' : this._questionHandlerService.getStatus() && i==this._questionHandlerService.getCurrentResponseIndex()}" class="button-item" type="button" [value]="item" (click)="this._questionHandlerService.changeCurrentResponseIndex(i)">
                </ng-container>
            </fieldset>
            <input [ngClass]="{'isInactive' : this._questionHandlerService.getCurrentResponseIndex()==null}" type="button" value="Siguiente" class="submit-button" (click)="this._questionHandlerService.executeChanges()" (click)="this.provee(this._questionHandlerService.getCurrentQuestionIndex())">
        </form>
        
    </main>
</div>