section {
    --color-primary: #ffc400;
    --color-secondary: #ec1557;
    height: 100%;
    position: relative;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: start;
    padding: 6rem
}

.quizz-section {
    flex: 1 1 0;
    display: grid;
    max-width: 40rem;
    aspect-ratio: 2.5/2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: "aside noting""main main"
}

.quizz-section>* {
    background-color: #ec1557
}

.quizz-section>aside,.quizz-section>main {
    border-top-right-radius: 5px;
    position: relative;
    z-index: 2
}

.quizz-section>aside {
    grid-area: aside;
    border-bottom: none;
    padding: 2rem;
    border-top-left-radius: 5px;
    background-color: #d21850
}

.quizz-section>main {
    grid-area: main;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    align-items: center;
    padding: 4em;
    gap: .8rem
}

aside>.text-info::before {
    content: "Puntaje: ";
    text-shadow: none
}

.quizz-section>main,fieldset,form {
    display: flex;
    flex-direction: column;
    justify-content: center
}

form {
    align-items: center
}

fieldset {
    padding: 1rem;
    gap: .5rem
}

input {
    text-wrap: wrap;
    border-radius: 3rem;
    padding: .5rem;
    max-width: 100%;
    text-align: center;
    text-transform: capitalize;
    transition: background-color .5s,color .5s
}

fieldset>input {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    transition: transform .5s,background-color .5s,color .5s
}

.button-selected,fieldset>input:hover {
    transform: scale(1.05)
}

aside>button:focus,aside>button:hover {
    background-color: var(--color-primary);
    color: #fff;
    cursor: pointer
}

.button-container>input[type=button] {
    font-weight: 800;
    color: #fff;
    background-color: #444;
    text-transform: uppercase;
    padding: .5rem 1rem
}

.button-container>input[type=button]:focus,.button-container>input[type=button]:hover {
    background-color: #fff;
    color: var(--color-primary);
    cursor: pointer
}

form>.button-container>.no-click {
    pointer-events: none;
    background-color: #888;
    color: var(--color-primary)
}

fieldset>.Correct {
    background-color: #7ebb66;
    color: #fff
}

fieldset>.Incorrect {
    background-color: #f56f60;
    color: #fff
}

fieldset>.button-selected {
    background-color: var(--color-primary);
    color: #fff
}

h3 {
    font-weight: 4300;
    font-size: 100%;
    text-transform: uppercase
}

legend {
    color: #444;
    font-weight: 700;
    font-size: 200%
}

.intro,aside {
    align-content: center
}

aside,h3 {
    color: #fff
}

aside {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2% 15%;
    align-items: center;
    gap: 1rem
}

aside>*,h3,legend {
    text-align: center
}

aside>button {
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid #fff;
    max-width: 7rem;
    padding: 2.5% 5%;
    color: var(--color-primary);
    transition: background-color .5s,color .5s
}

.intro {
    height: 100%;
    width: 100%
}

.intro-content,.intro-image {
    margin: auto;
    align-content: center
}

.intro-image {
    position: absolute;
    inset: 0 0 0 0;
    opacity: 60%;
    border-radius: 100%;
    aspect-ratio: 1/1;
    max-width: 80%;
    max-height: 80%;
    background-color: #ec1557;
    transition: all .5s;
    z-index: 1
}

.intro-image>img {
    max-width: 60%;
    display: block;
    margin: auto;
    opacity: 40%;
    filter: grayscale();
    animation: opacityChanges 4s ease-in-out infinite
}

.intro-content {
    display: block;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 2
}

.button-init,p {
    padding: .5rem 1rem;
    text-align: center
}

.button-init {
    background-color: #fff;
    border-radius: 4px;
    font-weight: 900;
    transition: border .5s,background-color .5s,color .5s;
    color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    max-width: 90%;
    font-size: 60%
}

p {
    color: #fff;
    font-weight: 800;
    border-radius: 6px;
    max-width: 20rem;
    font-size: 150%
}

h2,h4 {
    font-weight: 900;
    font-size: 190%
}

h4 {
    color: #444;
    text-shadow: 0 0 .09rem #222
}

h2,p {
    text-shadow: 0 0 .1rem #222
}

h2 {
    color: var(--color-primary);
    text-wrap: wrap;
    max-width: 50rem
}

.button-init:focus,.button-init:hover {
    background-color: var(--color-secondary);
    border-color: #fff;
    color: #fff
}

.aside {
    width: 100%;
    height: 100%;
    background: #add8e6;
    position: relative;
    overflow: hidden
}

.aside::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle,#f2bb05 10%,transparent 20%),radial-gradient(circle,transparent 10%,var(--color-primary) 20%);
    background-size: 30px 30px;
    animation: moveBackground 8s linear infinite
}

@media screen and (max-width:700px){
    section{
        padding: 6rem 5%;
    }
    .quizz-section{
        grid-template-columns: 5fr 2fr;
    }
    aside{
        padding: 1rem;
        flex-direction: column;
        gap: 1rem;
    }
    input{
        border-radius: 1rem;
    }
    
}
@media screen and (max-width:550px) {
    .button-init{
        padding: .3rem;
    }
    h4{
        font-size: 120% !important;
    }
    p{
        font-size: 80% !important;
    }
    h2{
        font-size: 140% !important;
    }
}

@keyframes opacityChanges {
    0%,100%{
        opacity: 0%;
    }
    50%{
        opacity: 40%;
    }
}

  @keyframes moveBackground {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(20%, 20%);
    }
  }
  