<header>
  <a routerLink=""><h1>Buscando el Rastro</h1></a>
  <div class="image-container">
    <a href="https://ediciones.ucc.edu.co/index.php/ucc">
    <img src="assets/images/EXTRAS/logoediciones_.png" alt="">
    </a>
  </div>
  <div class="image-container">
    <a href="https://www.ucc.edu.co/">
      <img src="assets/images/EXTRAS/logoucc_.png" alt="">
    </a>
  </div>
  <div class="image-container">
    <a href="https://revistas.ucc.edu.co/index.php/ra/index">
    <img src="assets/images/EXTRAS/pageHeaderLogoImage_es_ES.png" alt="">
    </a>
  </div>
  <!-- <p>Puntuación: {{0}}</p> -->
</header>
<div class="router-container">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="autor-container">
    <p>
      Laura Juliana Rodríguez Ortiz
    </p>
    <p>
      María Paula Orozco piñeres
    </p>
    <p>
      Andrés Ramiro Díaz orduz
    </p> 
  </div>
  <div class="thanks-container">
    <p>
      Imagenes, información y datos tomados de {{'@Ediciones UCC'}} - 2024
    </p>
  </div>
</footer>
<!-- {{this.comunicationService.getTransitionStatus()}} -->
<div class="cuat" [ngClass]="{'cuat-start': this.comunicationService.getTransitionStatus()==true}"></div>
<app-chiro-interlude></app-chiro-interlude>